<footer class="main-footer" id="footer">
    <div class="container">
        <h1 class="flogo"><a href="/seeone" class="ir">시원플란트치과 see one plant dental</a></h1>
        <div class="main-footer__info p1">
            <address>주소 : 서울시 은평구 통일로 714 우성메디컬 7층</address><p class="tel">&nbsp;&nbsp;|&nbsp;&nbsp;TEL : 02-384-5454&nbsp;&nbsp;|&nbsp;&nbsp;FAX : 02-384-2599</p>
            <p class="m_18">상호명 : 시원플란트치과&nbsp;&nbsp;|&nbsp;&nbsp;대표자 : 이수홍&nbsp;&nbsp;|&nbsp;&nbsp;사업자번호 : 252-91-01554</p>
            <p class="copy">COPYRIGHT &copy; 2020 시원플란트치과 ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>
<div class="quick" id="quick">
    <ul>
        <li class="quick__case"><a href="/case"><i class="q-icon case-icon"></i> 치료사례</a></li>
        <li class="quick__time"><a href="/seeone#worktime"><i class="q-icon time-icon"></i> 진료시간</a></li>
        <li class="quick__loca"><a href="/seeone#location"><i class="q-icon loca-icon"></i> 오시는길</a></li>
        <li class="quick__resv"><a href="https://booking.naver.com/booking/13/bizes/393540" target="_blank" rel="noopener noreferrer"><i class="q-icon resv-icon"></i> 네이버예약</a></li>
        <li class="quick__talk"><a href="https://talk.naver.com/W4UOCQ" target="_blank" rel="noopener noreferrer"><i class="q-icon talk-icon"></i> 네이버톡톡</a></li>
        <li class="quick__top"><a href="#" class="top-btn"><img src="img/top.png" alt="top"></a></li>
    </ul>
</div>
<div class="modal-container">
    <div class="modal-wrapper">
        <div class="modal-content" id="doctor01">
            <img src="img/doctor01-modal-cnt.jpg" alt="이수홍 대표원장">
        </div>
        <div class="modal-content" id="doctor02">
            <img src="img/doctor02-modal-cnt-200805.jpg" alt="김형종 원장">
        </div>
        <div class="modal-content" id="implant01">
            <img src="img/implant-cnt01-img.png" alt="당일임플란트란?">
        </div>
        <div class="modal-content" id="implant02">
            <img src="img/implant-cnt02-img-200804.jpg" alt="전악임플란트란?">
        </div>
        <div class="modal-content" id="implant03">
            <img src="img/implant-cnt03-img.jpg" alt="임플란트재수술이란?">
        </div>
        <div class="modal-content" id="implant04">
            <img src="img/implant-cnt04-img.jpg" alt="상악동거상술이란?">
        </div>
    </div>
    <button class="modal-close p_a"></button>
</div>