<div class="video-bg" id="bg">
    <iframe src="https://player.vimeo.com/video/442971463?background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <div class="overlay"></div>
</div>
<article class="main-visual full-sect p_r" id="main-visual">
    <div class="swiper-container main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="title ta_c c_w">
                    <h2 class="h1 fw_500 m_72">
                        <span class="txt-ani delay-200">베테랑 의료진의</span>
                        <span class="txt-ani delay-400">임플란트 치료자신감</span>
                    </h2>
                    <p class="fz24">
                        임플란트 1만 5천 건 이상 누적 식립<br>
                        당일 임플란트부터 고난도 전악임플란트, 임플란트 재수술까지
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title ta_c c_w">
                    <h2 class="h1 fw_500 m_72">
                        <span class="txt-ani delay-200">치주과 전문의는</span>
                        <span class="txt-ani delay-400">다릅니다</span>
                    </h2>
                    <p class="fz24">
                        자연치아를 살리고 임플란트의 수명은 늘리는<br>
                        노련한 치주과전문의의 섬세한 치료를 만나보세요
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title ta_c c_w">
                    <h2 class="h1 fw_500 m_72">
                        <span class="txt-ani delay-200">철저한 감염관리</span>
                        <span class="txt-ani delay-400">집중케어시스템 운영 중</span>
                    </h2>
                    <p class="fz24">
                        내가 치료받는다는 마음으로 깨끗하고 안전하게 <br>
                        감염 전문가가 직접 감독하는 멸균프로세스라서 안심할 수 있습니다
                    </p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="title ta_c c_w">
                    <h2 class="h1 fw_500 m_72">
                        <span class="txt-ani delay-200">붓기를 최소화한</span>
                        <span class="txt-ani delay-400">의료진의 섬세한 치료</span>
                     </h2>
                    <p class="fz24">
                        섬세한 테크닉으로 붓기를 최소화하고 통증을 줄여 <br>
                        아프지 않은 치료가 되도록 노력합니다
                    </p>
                </div>
            </div>
        </div>
        <div class="ctrls1 prev"></div>
        <div class="ctrls1 next"></div>
    </div>
    <span class="scroll-btn">
        <a href="#subject"><span class="mouse"><span></span></span></a>
        <p>scroll me</p>
    </span>
</article>
<article class="full-sect subject-sect" id="subject">
    <div class="container ta_c">
        <div class="txtline c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">내게 필요한 치료를 확인하세요</span></h4>
            <h2 class="h2"><span class="txt-ani">시원플란트치과의 <em>진료과목</em></span></h2>
        </div>
        <ul class="subject-sect__list">
            <li class="subj-implant">
                <div class="subject-sect__bg"></div>
                <div class="subject-sect__desc">
                    <h5 class="fz24 fw_500">임플란트</h5>
                    <span class="subject-sect__icon"></span>
                    <ul>
                        <li>전악임플란트수술</li>
                        <li>고난도 상악동 거상술</li>
                        <li>고난도 임플란트재수술</li>
                    </ul>
                </div>
            </li>
            <li class="subj-nature">
                <div class="subject-sect__bg"></div>
                <div class="subject-sect__desc">
                    <h5 class="fz24 fw_500">자연치아 살리기</h5>
                    <span class="subject-sect__icon"></span>
                    <ul>
                        <li>충치치료</li>
                        <li>치아신경치료</li>
                        <li>치근단절제술</li>
                    </ul>
                </div>
            </li>
            <li class="subj-prosthetic">
                <div class="subject-sect__bg"></div>
                <div class="subject-sect__desc">
                    <h5 class="fz24 fw_500">자연스런 보철치료</h5>
                    <span class="subject-sect__icon"></span>
                    <ul>
                        <li>지르코니아</li>
                        <li>올세라믹</li>
                        <li>레진인레이</li>
                    </ul>
                </div>
            </li>
            <li class="subj-periodontal">
                <div class="subject-sect__bg"></div>
                <div class="subject-sect__desc">
                    <h5 class="fz24 fw_500">치주치료</h5>
                    <span class="subject-sect__icon"></span>
                    <ul>
                        <li>치주염치료</li>
                        <li>치은염치료</li>
                        <li>스케일링</li>
                    </ul>
                </div>
            </li>
            <li class="subj-wisdom">
                <div class="subject-sect__bg"></div>
                <div class="subject-sect__desc">
                    <h5 class="fz24 fw_500">사랑니발치</h5>
                    <span class="subject-sect__icon"></span>
                    <ul>
                        <li>누운사랑니발치</li>
                        <li>매복사랑니발치</li>
                        <li>고난도 사랑니발치</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</article>
<article class="doc-sect" id="doctors">
    <div class="container ta_c">
        <div class="txtline c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">당신의 치료를 책임질 수준높은 의료진</span></h4>
            <h2 class="h2"><span class="txt-ani">시원플란트치과의 <em>의료진 소개</em></span></h2>
        </div>
        <div class="doctor-bnr dp_sb">
            <a href="#doctor01" class="modal-call-btn">
                <img src="img/doctor01-bnr-img-200805.png" alt="보건복지부 인증 치주과 전문의 이수홍 대표원장">
            </a>
            <a href="#doctor02" class="modal-call-btn">
                <img src="img/doctor02-bnr-img-200805.png" alt="보건복지부 인증 보존과 전문의 김형종 대표원장">
            </a>
        </div>
    </div>
</article>
<article class="implant-sect" id="implant">
    <div class="container">
        <div class="txtline ta_c c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">시원플란트치과의</span></h4>
            <h2 class="h2"><span class="txt-ani">스페셜한 <em>임플란트</em></span></h2>
        </div>
        <ul class="dp_sb">
            <li>
                <div class="svg-container line_sky">
                    <div class="hov-line1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                    <div class="hov-line2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                </div>
                <a href="#implant01" class="modal-call-btn"><img src="img/implant-bnr01-img.png" alt="빠른치료 당일임플란트"></a>
            </li>
            <li>
                <div class="svg-container line_sky2">
                    <div class="hov-line1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                    <div class="hov-line2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                </div>
                <a href="#implant02" class="modal-call-btn"><img src="img/implant-bnr02-img.png" alt="빠른치료 당일임플란트"></a>
            </li>
            <li>
                <div class="svg-container line_mint">
                    <div class="hov-line1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                    <div class="hov-line2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                </div>
                <a href="#implant03" class="modal-call-btn"><img src="img/implant-bnr03-img.png" alt="높은 성공률 임플란트 재수술"></a>
            </li>
            <li>
                <div class="svg-container line_grn">
                    <div class="hov-line1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                    <div class="hov-line2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 278 278" style="enable-background:new 0 0 278 278;" xml:space="preserve">
                            <path class="border-outline" d="M139,276C63.34,276,2,214.66,2,139S63.34,2,139,2" />
                        </svg>
                    </div>
                </div>
                <a href="#implant04" class="modal-call-btn"><img src="img/implant-bnr04-img.png" alt="고난도 상악동거상술"></a>
            </li>
        </ul>
    </div>
</article>
<article class="case-sect p_r" id="case">
    <div class="container">
        <div class="txtline ta_c c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">눈으로 직접 확인하는</span></h4>
            <h2 class="h2"><span class="txt-ani">시원플란트치과의 <em>치료퀄리티</em></span></h2>
        </div>
        <div class="counter-wrapper ta_c">
            <div class="img-wrap"><img src="img/implant-desc-img.png" alt="임플란트 설명이미지"></div>
            <div class="counter-content clear">
                <p class="counter-tit h4 fw_700">임플란트<br>누적식립</p>
                <div class="odometer video-counter f_l c_w">12000</div>
                <p class="counter-txt c_w h2 fw_700">건</p>
            </div>
            <p class="h5 c_g">2020년 7월 기준</p>
        </div>
        <div class="btn-area fz20 c_w ta_c">
            <a href="/case" class="btn-md btn-line">자세히 보기</a>
        </div>
    </div>
    <div class="video-bg case-video">
        <iframe src="https://player.vimeo.com/video/442974677?background=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <div class="overlay"></div>
    </div>
</article>
<article class="guarant-sect" id="guarantee">
    <div class="container">
        <div class="txtline ta_c m_50">
            <h4 class="h4 m_12"><span class="txt-ani">오래도록 함께하는 임플란트</span></h4>
            <h2 class="h2"><span class="txt-ani">시원플란트치과의 <em>임플란트 보증제도</em></span></h2>
        </div>
        <div class="ta_c m_50">
            <p class="fz24 m_12">
                철저한 사후관리를 위해 시원플란트치과는<br>
                <em class="fz h4 c_blue">임플란트보증제</em>를 시행하고 있습니다.
            </p>
            <p class="fz28">믿을 수 있는 치료,  시원플란트치과의 약속입니다.</p>
        </div>
        <div class="img-wrap">
            <img src="img/guarantee-desc-200806.png" alt="임플란트 보증제">
        </div>
    </div>
</article>
<article class="system-sect" id="system">
    <div class="container">
        <div class="txtline ta_c c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">체계적 멸균프로세스가 함께하는</span></h4>
            <h2 class="h2"><span class="txt-ani">시원플란트치과의 <em>감염관리시스템</em></span></h2>
        </div>
        <figure class="system-clean__desc dp_f">
            <div class="system-clean__img">
                <img src="img/system-clean__img.jpg" alt="">
            </div>
            <figcaption class="system-clean__txt">
                <h5 class="fz24 m_36">
                    당신의 치과치료가 <em>더 안전할 수 있도록</em><br>
                    시원플란트치과는 더욱 더 철저해지겠습니다
                </h5>
                <p class="fz18">
                    시원플란트치과는 감염관리 집중케어시스템을 도입한<br>
                    전용멸균소독실에서 <em class="c_blue">감염관리전문가이드의 체계적 멸균프로세스</em>를 준수하여 치료도구를 항상 철저한 멸균상태로 관리합니다.
                </p>
            </figcaption>
        </figure>
        <div class="img-wrap m_50">
            <img src="img/system-clean__desc2.png" alt="Dirty Zone > Semi-Clean Zone > Clean Zone">
        </div>
        <div class="scroller-wrap">
            <ul id="scroller">
                <li><img src="img/clean-system/clean01.jpg" alt="clean01"></li>
                <li><img src="img/clean-system/clean02.jpg" alt="clean02"></li>
                <li><img src="img/clean-system/clean03.jpg" alt="clean03"></li>
                <li><img src="img/clean-system/clean04.jpg" alt="clean04"></li>
                <li><img src="img/clean-system/clean05.jpg" alt="clean05"></li>
                <li><img src="img/clean-system/clean06.jpg" alt="clean06"></li>
                <li><img src="img/clean-system/clean07.jpg" alt="clean07"></li>
            </ul>
        </div>
    </div>
</article>
<article class="interior-sect" id="interior">
    <div class="container">
        <div class="txtline ta_c c_w m_72">
            <h4 class="h4 m_12"><span class="txt-ani">편안하고 깨끗한 시원플란트치과</span></h4>
            <h2 class="h2"><span class="txt-ani">내부 <em>둘러보기</em></span></h2>
        </div>
        <div class="p_r">
            <div class="swiper-container interiorView">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/interior/interior01.jpg" alt="interior01"></div>
                    <div class="swiper-slide"><img src="img/interior/interior02.jpg" alt="interior02"></div>
                    <div class="swiper-slide"><img src="img/interior/interior03.jpg" alt="interior03"></div>
                    <div class="swiper-slide"><img src="img/interior/interior04.jpg" alt="interior04"></div>
                    <div class="swiper-slide"><img src="img/interior/interior05.jpg" alt="interior05"></div>
                    <div class="swiper-slide"><img src="img/interior/interior06.jpg" alt="interior06"></div>
                    <div class="swiper-slide"><img src="img/interior/interior07.jpg" alt="interior07"></div>
                    <div class="swiper-slide"><img src="img/interior/interior08.jpg" alt="interior08"></div>
                    <div class="swiper-slide"><img src="img/interior/interior09.jpg" alt="interior09"></div>
                </div>
                <div class="ctrls2 prev"></div>
                <div class="ctrls2 next"></div>
            </div>
            <div class="swiper-container interiorThumb">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="img/interior/interior01.jpg" alt="interior01"></div>
                    <div class="swiper-slide"><img src="img/interior/interior02.jpg" alt="interior02"></div>
                    <div class="swiper-slide"><img src="img/interior/interior03.jpg" alt="interior03"></div>
                    <div class="swiper-slide"><img src="img/interior/interior04.jpg" alt="interior04"></div>
                    <div class="swiper-slide"><img src="img/interior/interior05.jpg" alt="interior05"></div>
                    <div class="swiper-slide"><img src="img/interior/interior06.jpg" alt="interior06"></div>
                    <div class="swiper-slide"><img src="img/interior/interior07.jpg" alt="interior07"></div>
                    <div class="swiper-slide"><img src="img/interior/interior08.jpg" alt="interior08"></div>
                    <div class="swiper-slide"><img src="img/interior/interior09.jpg" alt="interior09"></div>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="location-sect" id="location">
    <div class="dp_sb">
        <div class="map-wrap">
            <div id="map"></div>
            <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=hjp34extyi"></script>
            <script>
                var HOME_PATH = window.HOME_PATH || '.';
                var position = new naver.maps.LatLng(37.609712, 126.930929);

                var map = new naver.maps.Map('map', {
                    center: position.destinationPoint(0, 0),
                    zoom: 17
                });

                var markerOptions = {
                    position: position.destinationPoint(0, 0),
                    map: map,
                    icon: {
                        url: 'layouts/seeoneplant/img/map-marker.png',
                        size: new naver.maps.Size(77, 113),
                        origin: new naver.maps.Point(0, 0),
                        anchor: new naver.maps.Point(38, 113)
                    }
                };
                var marker = new naver.maps.Marker(markerOptions);

                var contentString = [
                    '<div class="iw_inner ta_c" style="padding:8px;">',
                    '   <h3 class="fz18"><a href="https://store.naver.com/hospitals/detail?id=1875745603" target="_blank">시원플란트치과의원</a></h3>',
                    '   <p class="fz16">',
                    '       <a href="https://map.naver.com/v5/entry/place/1875745603" style="color:#54c9f4; font-weight:500; margin-right:8px;" target="_blank">큰지도보기</a>',
                    '       <a href="https://map.naver.com/v5/directions/-/14129894.998325724,4524435.15167517,%EC%8B%9C%EC%9B%90%ED%94%8C%EB%9E%80%ED%8A%B8%EC%B9%98%EA%B3%BC%EC%9D%98%EC%9B%90,1875745603,PLACE_POI/-/car" style="color:#54c9f4; font-weight:500;" target="_blank">길찾기</a>',
                    '   </p>',
                    '</div>'
                ].join('');

            var infowindow = new naver.maps.InfoWindow({
                content: contentString
            });

            naver.maps.Event.addListener(marker, "click", function(e) {
                if (infowindow.getMap()) {
                    infowindow.close();
                } else {
                    infowindow.open(map, marker);
                }
            });

            infowindow.open(map, marker);
            </script>
            <address class="location-txt">
                <img src="img/marker-icon.png" alt="오시는길">
                <strong class="fz24">&nbsp;&nbsp;오시는길</strong>
                <p class="fz22">&nbsp;&nbsp;서울특별시 은평구 통일로 714 우성메디컬 7층 (불광동 281-177 7층)</p>
            </address>
        </div>
        <div class="worktime" id="worktime">
            <h2 class="worktime__tit h4 m_24"><img src="img/worktime-icon.png" alt="진료시간" class="worktime__time-icon">&nbsp;&nbsp;&nbsp;진료시간</h2>
            <table class="time-table">
                <tbody>
                    <tr>
                        <th>평&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일</th>
                        <td>오전 09:30 - 오후 06:30</td>
                    </tr>
                    <!-- <tr>
                        <th>목&nbsp;&nbsp;요&nbsp;&nbsp;일</th>
                        <td>오후 02:00 - 오후 08:00</td>
                        <td class="last-item">(야간진료)</td>
                    </tr> -->
                    <tr>
                        <th>토&nbsp;&nbsp;요&nbsp;&nbsp;일</th>
                        <td>오전 09:00 - 오후 01:00</td>
                        <td class="last-item">(점심시간 없음)</td>
                    </tr>
                    <tr>
                        <th>점심시간</th>
                        <td>오후 01:00 - 오후 02:00</td>
                    </tr>
                    <tr >
                        <th colspan="2" class="ta_l">※ 일요일 및 공휴일 휴진</th>
                    </tr>
                </tbody>
            </table>
            <p class="h4" style="padding-top: 1em;"><img src="img/call-icon.png" alt="상담문의" class="worktime__call-icon"> &nbsp;상담 및 예약 문의&nbsp;&nbsp;<img src="img/call-num.png" alt="02-384-5454"></p>
        </div>
    </div>
</div>