<!--css load-->
<load target="font/stylesheet.css" />
<load target="css/themes/odometer-theme-default.css" />
<load target="css/jquery.simplyscroll.css" />
<load target="css/swiper.min.css" />
<load target="css/reset.css" />
<load target="css/common.css" />
<load target="css/transition.css" />
<load target="css/style.css" />
<load target="css/responsive.css" />

<!--js load-->
<load target="js/plugins/ScrollMagic.min.js" type="body" />
<load target="js/plugins/TweenMax.min.js" type="body" />
<load target="js/plugins/animation.gsap.js" type="body" />
<load target="js/plugins/debug.addIndicators.min.js" type="body" />
<load target="js/plugins/jquery.simplyscroll.min.js" type="body" />
<load target="js/plugins/swiper.min.js" type="body" />
<load target="js/plugins/odometer.js" type="body" />
<load target="js/script.js" type="body" />